* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table {
	/* width: 400px; */
	/* height: 300px; */
	margin: 100px auto;
	border-style: solid;
	border-collapse: collapse;
}
td, th {
	border: 2px solid black;
	text-align: center;
	vertical-align: middle;
	padding: 25px;
}
